@model MyCrudGame.Models.Ranking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ranking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orbs" class="control-label"></label>
                <input asp-for="Orbs" class="form-control" />
                <span asp-validation-for="Orbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stylish" class="control-label"></label>
                <input asp-for="Stylish" class="form-control" />
                <span asp-validation-for="Stylish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Damage" class="control-label"></label>
                <input asp-for="Damage" class="form-control" />
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemUsed" class="control-label"></label>
                <input asp-for="ItemUsed" class="form-control" />
                <span asp-validation-for="ItemUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RankBonus" class="control-label"></label>
                <input asp-for="RankBonus" class="form-control" />
                <span asp-validation-for="RankBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
